<nav class="app-header navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home"><i class="brand-icon"></i>生意宝</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= user.name %>
                </li>
                <li>
                    <a href="/login/off" title="退出"><i class="glyphicon glyphicon-log-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>